.empty {
  height: 35px;
  width: 40px;
  background-color: #EE5B2A;
  border-radius: 30%;
  
}
nav {
  display: flex;
  justify-content: space-around;
  border-bottom-style: groove;
}
.m {
  margin-left: -210px;
  margin-top: 5px;
  color: rgb(22, 19, 19);
}
.moringa{
  margin-left: 15px;
  margin-top: 5px;
  color: #EE5B2A;
}
.col {
  display: flex;
}
button {
background-color: #EE5B2A;
width: 140px;
height: 35px;
border-style: hidden;
color: white;
font-weight: bolder;
border-radius: 10px;
}
nav a {
  color: #EE5B2A;
  margin-top: 10px;
  margin-right: 70px;
}
nav a:link {
  text-decoration: none;
}
.part1{
width: 650px;
margin-top: 50px;
margin-left: 40px;
font-size: 23px;
margin-top: 110px;
}
.aa {
  display: flex;
  justify-content: space-between;
}
.empty2{
  height: 600px;
  width: 300px;
  background-color: #EE5B2A;
  position:absolute;
  right: 0px;
  top: 120px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
.car img {
position: absolute;
left: 700px;
height: 400px;
top: 180px;

}
.part1 img {
  width: 180px;
  height: 60px;
  margin-top: 110px;
}
.part2 {
  background-color: rgb(241, 236, 236);
  margin-top: 80px;
  height: fit-content;
}
.heading {
padding-top: 20px;
text-align: center;
}
.heading h4, .heading p {
  color: grey;
}
.heading p {
  padding-top: 20px;
}
hr {
  width: 100px;
  height: 4px;
  background-color: #EE5B2A;
  border: none;
}
.part2_2 img {
width: 100px;
height: 100px;
background-color: #EE5B2A;
border-radius: 15%;
border-color: white;
border: 5px solid white;
}
.part2_2 {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 50px;
}
.part2_2 p{
  width: 250px;
  color: grey;
}
#no1 {
  position: relative;
  background-color: blue;
 padding: 3px;
 border-radius: 50%;
 width: 15px;
 border: 5px solid rgb(58, 58, 192);
 right: 65px;
 color: white;
}
#no2 {
  position: relative;
  background-color: blue;
 padding: 3px;
 border-radius: 50%;
 width: 15px;
 border: 5px solid rgb(58, 58, 192);
 right: 65px;
 color: white;
}
#no3 {
  position: relative;
  background-color: blue;
 padding: 3px;
 border-radius: 50%;
 width: 35px;
 border: 5px solid rgb(58, 58, 192);
 right: 65px;
 color: white;
}
.floatright{
  width: 600px;
  float: right;
  margin-right: 150px;
}
html {
  overflow-x: hidden;
}
ul {
  list-style: none;
}
ul li::before {
  content: "\2022"; 
  color: #EE5B2A; 
  font-weight: bold; 
  display: inline-block; 
  width: 1em; 
  margin-left: -1em; 
  font-size: 50px;
  margin-top: -10px;
  
}
#car2 {
  width: 500px;
  margin-left: -130px;
}
.part3 {
  margin-top: 30px;
}
#grey {
  color: grey;
}
#gray li {
  color: rgb(66, 65, 65);
}
.lastpage {
  background-image: url(file:///home/moringa/Downloads/Rectangle%2016.png);
}