
.empty {
  height: 35px;
  width: 40px;
  background-color: #EE5B2A;
  border-radius: 30%;
  
}
nav {
  display: flex;
  justify-content: space-around;
  border-bottom-style: groove;
}
.m {
 text-align: center;
  margin-top: 5px;
  color: white;
}
.moringa{
  margin-left: 5px;
  margin-top: 5px;
  color: #EE5B2A;
}
.col {
  display: flex;
}
button {
background-color: #EE5B2A;
width: 140px;
height: 35px;
border-style: hidden;
color: white;
font-weight: bolder;
border-radius: 10px;
}
nav a {
  color: #EE5B2A;
  margin-top: 10px;
  margin-right: 70px;
}
nav a:link {
  text-decoration: none;
}
.part1 {
width:600px;
margin-top: 50px;
margin-left: 40px;
font-size: 23px;
margin-top: 110px;
}
.aa {
  display: flex;
  justify-content: space-between;
}
.empty2{
  height: 600px;
  width: 21.5%;
  background-color: #EE5B2A;
  position:absolute;
  right: 0px;
  top: 120px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
.car img {
position: absolute;
right: -30px;
/* height: 100%; */
top: 50px;
/* width: 135%; */
}
.part1 img {
  width: 180px;
  height: 60px;
  margin-top: 110px;
}
#applestore {
  margin-left: 8%;
}
.part2 {
  background-color: rgb(241, 236, 236);
  margin-top: 80px;
  height: fit-content;
}
.heading {
padding-top: 20px;
text-align: center;
}
.heading h4, .heading p {
  color: grey;
}
.heading p {
  padding-top: 20px;
}
hr {
  width: 100px;
  height: 4px;
  background-color: #EE5B2A;
  border: none;
}
.part2_2 img {
width: 20%;
height: 20%;
background-color: #EE5B2A;
border-radius: 15%;
/* border-color: white; */
border: 5px solid white;
padding: 15px;
}
.part2_2 {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 50px;
}
.part2_2 p{
  width: 250px;
  color: grey;
}
#no1 {
  position: relative;
  background-color: rgb(139, 139, 245);
 border-radius: 50%;
 width: 15px;
 height: 15px;
 border: 2px solid rgb(99, 99, 216);
 right: 57px;
 color: white;
 padding: 6px;
 text-align: center;
 padding-top: 3px;
 padding-bottom: 3px;
 top: 6px;
}
#no2 {
  position: relative;
  background-color: rgb(139, 139, 245);
 border-radius: 50%;
 width: 15px;
 height: 15px;
 border: 2px solid rgb(99, 99, 216);
 right: 57px;
 color: white;
 padding: 6px;
 text-align: center;
 padding-top: 3px;
 padding-bottom: 3px;
 top: 6px;
}
#no3 {
  position: relative;
  background-color: rgb(139, 139, 245);
 padding: 3px;
 border-radius: 50%;
 width: 35px;
 border: 2px solid rgb(99, 99, 216);
 right: 57px;
 color: white;
 padding: 6px;
 text-align: center;
 padding-top: 3px;
 padding-bottom: 3px;
 top: 6px;
}
.floatright{
  width: 100%;
  margin-right: 50px;
  margin-left: 20px;
}
html {
  overflow-x: hidden;
  /* margin-right: auto; */
}
ul {
  list-style: none;
}
ul li::before {
  content: "\2022"; 
  color: #EE5B2A; 
  font-weight: bold; 
  display: inline-block; 
  width: 1em; 
  margin-left: -1em; 
  font-size: 50px;
  margin-top: -10px;
  
}
#car2 {
  /* width: 500px; */
  padding-right: 30px;  
}
.part3 {
  margin-top: 30px;
  display: flex;
}
#grey {
  color: grey;
}
#gray li {
  color: rgb(66, 65, 65);
}
.lastpage {
  background-image: url('Rectangle\ 16.png');
  height: 600px;
  margin-top: 70px;
  
}
.fit {
  background-color: black;
  height:65%;
  width: 30%;
  color: white;
  margin-top: 100px;
  margin-left: 100px;
  transform: translate(0%,10%);
  font-size: 20px;
  padding: 40px;
  opacity: 0.7;
  border-radius: 20px;
}
#sentence {
  padding-top: 30px;
  width: 100%;
}
#learn {
margin-top: 50px;
}
footer {
  text-align: center;
  color: white;
  background-color: black;
  height: 100px;
  margin-top: -20px;
}
.footer h2 {
 padding-top: 35px;
}
@media screen and (max-width:760px){
  .aa{
    display: none;
  }
  .empty2 {
    display: none;
  }
  .car{
    display: none;
  }
  .part1 {
    width: 100%;
  }
}
@media screen and (max-width:1100px) {
  .empty2 {
    height: 70%;
  }
  .car img {
    height: 60%;
  }
  .part1 {
    width: 60%;
  }
  
}
@media screen and (max-width:950px){
  .part1 {
    width: 50%;
  }
  .part1 img {
    margin-top: 50px;
  }
  .part3 {
    display: grid;
    grid-template-columns: repeat(1fr 1fr);
  }
  #learn {
    margin-top: 0px;
  }
  .fit{
    width: 40%;
  }
}
@media  screen and (max-width: 750px) {
  .part2_2 {
    display: grid;
    grid-template-columns: repeat (1fr 1fr);
  }
  .part1 {
    width : 100%;
    margin: 10px 10px 10px 10px;
  }
  #learn {
    margin-top: 0px;
  }
  .fit {
    width: 60%;
  }
  #playstore {
  margin-left: 37px;
  }
}
@media screen and (max-width:500px) {
  #car2 {
    display: none;
  }
  body {
    width: auto;
  }
  body {
    overflow-x: hidden;
  }
  .empty2 {
    overflow: hidden;
  }
  .part1 #playstore, #applestore {
  margin-left: 70px;
  }
  .floatright {
    width: 80%;
  }
  .fit {
    margin-left: 3px;
    width: 80%;
  }
  #learn {
    margin-top: 0px;
  }
  footer {
   /* background-color: black;
   margin-top: 160px;
   color: blueviolet; */
   height: 40px;
  }
}
